In [51]:
import pandas as pd
from importlib import reload
import skrub
from functools import wraps
from skrub import selectors as s
import importlib.util
import sys
from pathlib import Path

In [52]:
#import monkey patch so we can disable and enable easily
module_path = Path("C:/Users/teodo/Desktop/github/rdepro_skrub_provenance/mystuff/monkeypatch.py")  #i am stupid and couldnt make 
spec = importlib.util.spec_from_file_location("mymodule2", str(module_path))                        #the import run in a different way :3
monkeyPatch = importlib.util.module_from_spec(spec)
sys.modules["mymodule2"] = monkeyPatch
spec.loader.exec_module(monkeyPatch)

dir(monkeyPatch)

['EddieProvenanceReporter',
 'PROV_COLUMN',
 'Path',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_original_merge_top',
 '_product_provenances',
 '_sum_provenances',
 'importlib',
 'pd',
 'provMerge',
 'reload',
 's',
 'skrub',
 'sys',
 'with_provenance',
 'wraps']

In [53]:


#this dataframe is only for testing, this should work with any df
df1 = pd.DataFrame ({
    "id": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"]
    
})

df2 = pd.DataFrame ({
    "id": [1, 2, 4],
    "age": [24, 30, 50]
})

In [54]:
result = pd.merge(df1, df2, on="id", how="outer")

pd.set_option('display.max_columns', None)

# Show all rows
pd.set_option('display.max_rows', None)

# Show full column width (no truncation)
pd.set_option('display.max_colwidth', None)
display(result)

I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id
the keyword is:  how  the value will be printed below:
outer

   id     name   age               _prov
0   1    Alice  24.0  (left:0)+(right:0)
1   2      Bob  30.0  (left:1)+(right:1)
2   3  Charlie   NaN      (left:2)+(nan)
3   4      NaN  50.0     (nan)+(right:2)

In [55]:
result = pd.merge(df1, df2, on="id", how="left")
display(result)

I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id
the keyword is:  how  the value will be printed below:
left

   id     name   age               _prov
0   1    Alice  24.0  (left:0)*(right:0)
1   2      Bob  30.0  (left:1)*(right:1)
2   3  Charlie   NaN      (left:2)*(nan)

In [56]:
resultPrime = pd.merge(df1, df2, on="id", how="right")
display(resultPrime)

I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id
the keyword is:  how  the value will be printed below:
right

   id   name  age               _prov
0   1  Alice   24  (left:0)*(right:0)
1   2    Bob   30  (left:1)*(right:1)
2   4    NaN   50     (nan)*(right:2)

In [57]:
result = pd.merge(df1, df2, on="id", how="inner")
display(result)

I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id
the keyword is:  how  the value will be printed below:
inner

   id   name  age               _prov
0   1  Alice   24  (left:0)*(right:0)
1   2    Bob   30  (left:1)*(right:1)