In [9]:
import pandas as pd
from importlib import reload
import skrub
from functools import wraps
from skrub import selectors as s
import importlib.util
import sys
from pathlib import Path

In [10]:
#import monkey patch so we can disable and enable easily
module_path = Path("C:/Users/teodo/Desktop/github/rdepro_skrub_provenance/mystuff/monkeypatch.py")  #i am stupid and couldnt make 
spec = importlib.util.spec_from_file_location("mymodule2", str(module_path))                        #the import run in a different way :3
monkeyPatch = importlib.util.module_from_spec(spec)
sys.modules["mymodule2"] = monkeyPatch
spec.loader.exec_module(monkeyPatch)

dir(monkeyPatch)

['EddieProvenanceReporter',
 'MyDataFrame',
 'PROV_COLUMN',
 'Path',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_original_merge_top',
 '_product_provenances',
 '_sum_provenances',
 'importlib',
 'pd',
 'provMerge',
 'reload',
 's',
 'skrub',
 'sys',
 'with_provenance',
 'wraps']

In [11]:



df1 = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"]
    
})
df2 = pd.DataFrame ({
    "id": [1, 2, 4],
    "age": [24, 30, 50]
})
display(df1)
display(df2)

   id     name                                   _prov
0   1    Alice  RangeIndex(start=0, stop=3, step=1): 0
1   2      Bob  RangeIndex(start=0, stop=3, step=1): 1
2   3  Charlie  RangeIndex(start=0, stop=3, step=1): 2

   id  age                                   _prov
0   1   24  RangeIndex(start=0, stop=3, step=1): 0
1   2   30  RangeIndex(start=0, stop=3, step=1): 1
2   4   50  RangeIndex(start=0, stop=3, step=1): 2

In [12]:
result = pd.merge(df1, df2, on="id", how="outer")

pd.set_option('display.max_columns', None)

# Show all rows
pd.set_option('display.max_rows', None)

# Show full column width (no truncation)
pd.set_option('display.max_colwidth', None)
display(result)

I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id
the keyword is:  how  the value will be printed below:
outer

,id,name,age,_prov
0,1,Alice,24.0,"(RangeIndex(start=0, stop=3, step=1): 0)+(RangeIndex(start=0, stop=3, step=1): 0)"
1,2,Bob,30.0,"(RangeIndex(start=0, stop=3, step=1): 1)+(RangeIndex(start=0, stop=3, step=1): 1)"
2,3,Charlie,NaN,"(RangeIndex(start=0, stop=3, step=1): 2)+(nan)"
3,4,NaN,50.0,"(nan)+(RangeIndex(start=0, stop=3, step=1): 2)"

In [13]:
result = pd.merge(df1, df2, on="id", how="left")
display(result)

I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id
the keyword is:  how  the value will be printed below:
left

,id,name,age,_prov
0,1,Alice,24.0,"(RangeIndex(start=0, stop=3, step=1): 0)*(RangeIndex(start=0, stop=3, step=1): 0)"
1,2,Bob,30.0,"(RangeIndex(start=0, stop=3, step=1): 1)*(RangeIndex(start=0, stop=3, step=1): 1)"
2,3,Charlie,NaN,"(RangeIndex(start=0, stop=3, step=1): 2)*(nan)"

In [17]:
resultPrime = pd.merge(df1, df2, on="id", how="right")
display(resultPrime)
resultSecond = df1.merge(df2, on="id", how="right")
display(resultSecond)

I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id
the keyword is:  how  the value will be printed below:
right

,id,name,age,_prov
0,1,Alice,24,"(RangeIndex(start=0, stop=3, step=1): 0)*(RangeIndex(start=0, stop=3, step=1): 0)"
1,2,Bob,30,"(RangeIndex(start=0, stop=3, step=1): 1)*(RangeIndex(start=0, stop=3, step=1): 1)"
2,4,NaN,50,"(nan)*(RangeIndex(start=0, stop=3, step=1): 2)"

I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id
the keyword is:  how  the value will be printed below:
right

,id,name,age,_prov
0,1,Alice,24,"(RangeIndex(start=0, stop=3, step=1): 0)*(RangeIndex(start=0, stop=3, step=1): 0)"
1,2,Bob,30,"(RangeIndex(start=0, stop=3, step=1): 1)*(RangeIndex(start=0, stop=3, step=1): 1)"
2,4,NaN,50,"(nan)*(RangeIndex(start=0, stop=3, step=1): 2)"

In [15]:
result = pd.merge(df1, df2, on="id", how="inner")
resulttwo = df1.merge(df2, on="id", how= "inner")
display(resulttwo)
display(result)

I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id
the keyword is:  how  the value will be printed below:
inner
I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id
the keyword is:  how  the value will be printed below:
inner

,id,name,age,_prov
0,1,Alice,24,"(RangeIndex(start=0, stop=3, step=1): 0)*(RangeIndex(start=0, stop=3, step=1): 0)"
1,2,Bob,30,"(RangeIndex(start=0, stop=3, step=1): 1)*(RangeIndex(start=0, stop=3, step=1): 1)"

,id,name,age,_prov
0,1,Alice,24,"(RangeIndex(start=0, stop=3, step=1): 0)*(RangeIndex(start=0, stop=3, step=1): 0)"
1,2,Bob,30,"(RangeIndex(start=0, stop=3, step=1): 1)*(RangeIndex(start=0, stop=3, step=1): 1)"

In [18]:
my_df1 = skrub.var("my_df1",df1)
my_df2 = skrub.var("my_df2",df2)
my_df1.merge(my_df2, on="id")

I know you executed merge
now I will tell you the args
-----------------------------------
now I will go over keyword arguments
the keyword is:  on  the value will be printed below:
id

c:\Users\teodo\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages\skrub\_data_ops\_data_ops.py:394: UserWarning: Calling '.merge()' returned None. To enable chaining steps in a DataOps plan, do not use functions that modify objects in-place but rather functions that leave their argument unchanged and return a new object.
  warnings.warn(msg)

<CallMethod 'merge'>
Result:
―――――――
None